* {
    box-sizing: border-box;
}

#corps {
    background-color: #ffffff;
    padding: 20px;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    position: absolute;
    left: 19%;
    top: 4%;
    right: 2%;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}