* {
    box-sizing: border-box;
}

#corps {
    background-color: #ffffff;
    padding: 20px;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
    position: absolute;
    left: 19%;
    top: 4%;
    right: 2%;
}

.panel {
    font-weight: bold;
    color: #58423c;
    margin-bottom: -1%;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    text-transform: uppercase;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}